<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>
        <link href="{{ asset('css/main.min.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script type="text/javascript" src="{{ asset('js/main.min.js') }}"></script>
</html>
